[Desktop Entry]
Version=1.0
Type=Application
Name=AudioLabEditor
Comment=Capture, edit and separate audio stems
Exec=/run/media/rlyra/VMs/source/TestesTECNICOS/AudioLabEditor/dist/AudioLabEditor/AudioLabEditor
Path=/run/media/rlyra/VMs/source/TestesTECNICOS/AudioLabEditor
Icon=/run/media/rlyra/VMs/source/TestesTECNICOS/AudioLabEditor/dist/AudioLabEditor/_internal/presentation/assets/logo.png
Terminal=false
Categories=AudioVideo;Audio;Video;Utility;
StartupNotify=true
StartupWMClass=audiolabeditor
